.addEmployee {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}
.employeeDiv {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.seeEmployees {
  display: flex;
  flex-direction: column;

  justify-content: center;
  /* align-items: center; */
}
.employees {
  min-width: 300px;
}
a {
  color: white;
  text-decoration: none;
  font-size: larger;
}

form button {
  margin-top: 10px;
}
.backToHome {
  width: 300px;
  margin: auto;
}
.navbar {
  /* padding: 1em; */
  display: flex;
  justify-content: space-between;
}

.navUl {
  list-style: none;
  padding: 0;
}
.commands {
  display: flex;

  list-style: none;
}
.commands ul {
  padding: 0;
}
.commands li {
  list-style: none;
}

@media (min-width: 1024px) {
  .addEmployee {
    width: 20%;
  }
}
