.addEmployee {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.employeeDiv {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.seeEmployees {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;
}
.employees {
  min-width: 300px;
}
