.addEmployee {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}
.employeeDiv {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.seeEmployees {
  display: flex;
  flex-direction: column;

  justify-content: center;
  /* align-items: center; */
}
.employees {
  display: flex;
  flex-direction: column;
}
.employees button {
  width: 100px;
  margin-bottom: 10px;
}
.employees input {
  width: 93px;
  margin-bottom: 10px;
}
a {
  color: #656c70;
  text-decoration: none;
  font-size: larger;
}

form button {
  margin-top: 10px;
}
.backToHome {
  width: 300px;
  margin: auto;
}
.navbar {
  /* padding: 1em; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navUl {
  list-style: none;

  padding: 0;
}
.commands {
  display: flex;

  list-style: none;
}
.commands ul {
  padding: 0;
}
.commands li {
  list-style: none;
}
.homeContent {
  display: flex;
  align-items: center;
  margin: auto;
  line-height: 2em;

  justify-content: center;
  /* width: 50%; */
}
@media (min-width: 1024px) {
  .addEmployee {
    width: 40%;
  }
  .homeContent {
    width: 50%;
  }
}
